@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
	--med-blue: rgb(3, 113, 181);
}

html {
  font-family: 'Overpass', sans-serif; 
}

body {
  margin: 1em;
}

#sketchHolder {
  margin: 0 auto;
  position: relative;
}

canvas {
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

a {
	color: var(--med-blue);
	max-width: max-content;
}

a:hover {
	color: white;
	background: var(--med-blue);
}
